In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프를 그리기위한 기본 설정
# 폰트설정 - 윈도우
plt.rcParams['font.family'] = 'Malgun Gothic'
# 폰트설정 - 맥
# plt.rcParams['font.family'] = 'AppleGothic'
# 그래프의 크기
plt.rcParams['figure.figsize'] = 12, 6
# 글자크기
plt.rcParams['font.size'] = 14
# 적용한 폰트에 - 기호가 없다면 깨진다. - 기호는 설정한 폰트의
# 영향을 받지 않도록 설정한다.
plt.rcParams['axes.unicode_minus'] = False

In [2]:
df = pd.read_csv('data/2025년 1월 기준 국민연금 공표통계.csv')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"(기준 : 해당 연도 누계, 단위: 명)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,국민연금 수급자 수 - 급여 종류별/연도별,NaN,연금수급자,NaN,NaN,NaN,일시금수급자,NaN,NaN,NaN,NaN,NaN,NaN
3,연도,총계,소계,노령,장애,유족,소계,장애,반환,사망,NaN,NaN,NaN
4,2005,"1,757,674","1,651,681","1,349,626","54,467","247,588","105,993","4,147","96,078","5,768",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,2021,"29,136,791","28,080,664","25,083,266","384,944","2,612,454","1,056,127","49,746","940,751","65,630",NaN,NaN,NaN
77,2022,"34,020,076","32,817,226","29,544,090","391,377","2,881,759","1,202,850","49,853","1,074,442","78,555",NaN,NaN,NaN
78,2023,"39,040,227","37,744,089","34,070,895","416,841","3,256,354","1,296,138","58,053","1,146,957","91,128",NaN,NaN,NaN
79,2024,"43,704,825","42,280,251","38,227,261","439,408","3,613,581","1,424,574","55,283","1,264,760","104,531",NaN,NaN,NaN
80,2025,"3,946,270","3,825,957","3,470,055","36,579","319,323","120,314","3,950","109,046","7,318",NaN,NaN,NaN

In [3]:
df = df.drop(index=[0, 1, 2, 3])
df = df.drop(columns=['Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'])

In [4]:
# 컬럼명 변경: 원하는 이름으로 딕셔너리 생성
new_column_names = {
    'Unnamed: 0': '연도', 
    'Unnamed: 1': '총계',
    'Unnamed: 2': '연금수급자 소계',
    'Unnamed: 3': '연금수급자 노령',
    'Unnamed: 4': '연금수급자 장애',
    'Unnamed: 5': '연금수급자 유족',
    'Unnamed: 6': '일시금수급자 소계',
    'Unnamed: 7': '일시금수급자 장애',
    'Unnamed: 8': '일시금수급자 반환',
    'Unnamed: 9': '일시금수급자 사망'
}

# 컬럼명 변경 적용
df.rename(columns=new_column_names, inplace=True)

# 결과 확인
print("변경된 컬럼명 리스트:")
print(df.columns.tolist())

변경된 컬럼명 리스트:
['연도', '총계', '연금수급자 소계', '연금수급자 노령', '연금수급자 장애', '연금수급자 유족', '일시금수급자 소계', '일시금수급자 장애', '일시금수급자 반환', '일시금수급자 사망']

In [5]:
df

,연도,총계,연금수급자 소계,연금수급자 노령,연금수급자 장애,연금수급자 유족,일시금수급자 소계,일시금수급자 장애,일시금수급자 반환,일시금수급자 사망
4,2005,"1,757,674","1,651,681","1,349,626","54,467","247,588","105,993","4,147","96,078","5,768"
5,2006,"1,985,502","1,858,769","1,517,649","61,762","279,358","126,733","4,898","115,394","6,441"
6,2007,"2,244,477","2,110,519","1,731,560","67,091","311,868","133,958","5,167","121,200","7,591"
7,2008,"2,517,579","2,366,626","1,949,867","72,166","344,593","150,953","4,902","137,654","8,397"
8,2009,"2,770,344","2,602,630","2,149,168","74,535","378,927","167,714","3,836","154,119","9,759"
...,...,...,...,...,...,...,...,...,...,...
76,2021,"29,136,791","28,080,664","25,083,266","384,944","2,612,454","1,056,127","49,746","940,751","65,630"
77,2022,"34,020,076","32,817,226","29,544,090","391,377","2,881,759","1,202,850","49,853","1,074,442","78,555"
78,2023,"39,040,227","37,744,089","34,070,895","416,841","3,256,354","1,296,138","58,053","1,146,957","91,128"
79,2024,"43,704,825","42,280,251","38,227,261","439,408","3,613,581","1,424,574","55,283","1,264,760","104,531"
80,2025,"3,946,270","3,825,957","3,470,055","36,579","319,323","120,314","3,950","109,046","7,318"

In [6]:
import pandas as pd

# 행과 열 최대치 설정 (None으로 하면 제한 없음)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# 이제 DataFrame을 출력하면 전체 데이터가 다 나옵니다
display(df)

,연도,총계,연금수급자 소계,연금수급자 노령,연금수급자 장애,연금수급자 유족,일시금수급자 소계,일시금수급자 장애,일시금수급자 반환,일시금수급자 사망
4,2005,"1,757,674","1,651,681","1,349,626","54,467","247,588","105,993","4,147","96,078","5,768"
5,2006,"1,985,502","1,858,769","1,517,649","61,762","279,358","126,733","4,898","115,394","6,441"
6,2007,"2,244,477","2,110,519","1,731,560","67,091","311,868","133,958","5,167","121,200","7,591"
7,2008,"2,517,579","2,366,626","1,949,867","72,166","344,593","150,953","4,902","137,654","8,397"
8,2009,"2,770,344","2,602,630","2,149,168","74,535","378,927","167,714","3,836","154,119","9,759"
9,2010,"2,975,336","2,820,649","2,330,128","76,280","414,241","154,687","3,447","141,347","9,893"
10,2011,"3,166,983","3,015,244","2,489,614","75,895","449,735","151,739","3,480","136,628","11,631"
11,2012,"3,499,522","3,310,211","2,748,455","75,934","485,822","189,311","2,862","175,716","10,733"
12,2013,"3,633,770","3,440,693","2,840,660","75,041","524,992","193,077","2,993","179,440","10,644"
13,2014,"3,748,130","3,586,805","2,947,422","75,387","563,996","161,325","2,651","146,353","12,321"
14,2015,"4,028,671","3,832,188","3,151,349","75,688","605,151","196,483","2,597","179,937","13,949"
15,2016,"4,362,254","4,135,292","3,412,350","75,497","647,445","226,962","2,577","207,751","16,634"
16,2017,"4,692,847","4,475,143","3,706,516","75,486","693,141","217,704","2,916","201,278","13,510"
17,2018,"4,769,288","4,596,690","3,778,824","75,734","742,132","172,598","3,072","157,867","11,659"
18,2019,"5,163,110","4,961,143","4,090,497","77,872","792,774","201,967","3,028","186,921","12,018"
19,2020,"5,588,154","5,388,022","4,468,126","78,079","841,817","200,132","2,904","184,342","12,886"
20,2021,"6,070,124","5,864,373","4,894,452","77,726","892,195","205,751","2,897","189,205","13,649"
21,2022,"6,642,643","6,424,917","5,396,729","76,718","951,470","217,726","2,722","199,170","15,834"
22,2023,"6,822,178","6,626,552","5,543,769","75,616","1,007,167","195,626","2,911","175,279","17,436"
23,2024,"7,372,039","7,155,257","6,015,091","76,865","1,063,301","216,782","2,660","196,290","17,832"
24,2025,"7,089,605","7,071,974","5,957,982","68,790","1,045,202","17,631",190,"16,228","1,213"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"(2025.1월 기준 당월, 명)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,국민연금수급자 수 - 급여 종류별·성별/수급연령별,계,NaN,NaN,노령연금,NaN,NaN,장애연금,NaN,NaN
31,NaN,소계,남자,여자,소계,남자,여자,소계,남자,여자
32,계,"7,071,974","3,754,549","3,317,425","5,957,982","3,607,030","2,350,952","68,790","51,655","17,135"
33,20세 미만,"7,300","3,652","3,648",0,0,0,0,0,0
34,20세 ∼ 30세미만,"14,538","7,428","7,110",0,0,0,247,147,100
35,30세 ∼ 40세미만,"7,286","2,525","4,761",0,0,0,"2,462","1,458","1,004"
36,40세 ∼ 50세미만,"36,761","11,907","24,854",0,0,0,"10,353","7,009","3,344"
37,50세 ∼ 60세미만,"142,050","39,221","102,829","13,171","7,914","5,257","24,805","19,206","5,599"
38,60세 ∼ 65세미만,"1,344,664","702,736","641,928","1,218,805","682,391","536,414","12,753","10,168","2,585"
39,65세 ∼ 70세미만,"2,251,821","1,224,694","1,027,127","2,080,040","1,207,129","872,911","6,260","4,703","1,557"
40,70세 ∼ 75세미만,"1,340,503","764,591","575,912","1,150,821","748,812","402,009","5,455","4,139","1,316"
41,75세 ∼ 80세미만,"1,011,945","560,032","451,913","818,278","545,397","272,881","4,239","3,226","1,013"
42,80세 이상,"915,106","437,763","477,343","676,867","415,387","261,480","2,216","1,599",617
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"(1988.1.1.∼2025.1.31. 기준, 누계, 단위: 백만원)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,국민연금 수급자 수급금액(1988.1.1∼현재) - 급여 종류별/(1988.1.1∼현재),NaN,연금수급자,NaN,NaN,NaN,일시금수급자,NaN,NaN,NaN
50,NaN,계,소계,노령,장애,유족,소계,장애,반환,사망
51,총 계,"375,266,650","347,522,128","304,340,202","7,308,048","35,873,878","27,744,523","1,022,630","25,775,576","946,318"
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,"(기준 : 해당 연도 누계, 단위: 백만원)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,국민연금 수급자 수급금액 - 급여 종류별/연도별,NaN,연금수급자,NaN,NaN,NaN,일시금수급자,NaN,NaN,NaN
59,연도,계,소계,노령,장애,유족,소계,장애,반환,사망
60,2005,"3,584,901","3,210,044","2,531,536","193,931","484,577","374,857","35,714","324,885","14,259"
61,2006,"4,360,239","3,899,369","3,103,161","225,607","570,601","460,870","44,240","400,674","15,957"
62,2007,"5,182,611","4,748,988","3,857,709","245,877","645,401","433,623","48,325","368,374","16,924"
63,2008,"6,180,804","5,764,986","4,765,528","268,101","731,358","415,818","47,921","348,026","19,871"
64,2009,"7,471,934","6,946,490","5,814,825","287,016","844,649","525,444","40,940","460,476","24,027"
65,2010,"8,635,467","8,107,420","6,861,876","296,305","949,239","528,047","37,299","465,123","25,625"
66,2011,"9,819,296","9,273,039","7,905,180","305,547","1,062,312","546,257","41,919","475,051","29,287"
67,2012,"11,550,755","10,837,243","9,327,086","314,463","1,195,694","713,511","34,654","648,045","30,812"
68,2013,"13,112,751","12,361,973","10,705,594","326,168","1,330,211","750,779","38,737","679,145","32,897"
69,2014,"13,779,943","13,087,468","11,295,917","331,603","1,459,947","692,475","34,471","618,468","39,535"
70,2015,"15,184,010","14,342,683","12,415,111","336,568","1,591,004","841,327","35,522","759,704","46,101"
71,2016,"17,068,159","16,107,103","14,047,957","337,332","1,721,814","961,056","36,048","874,649","50,359"
72,2017,"19,083,886","18,155,323","15,931,616","349,017","1,874,690","928,563","42,131","842,325","44,107"
73,2018,"20,752,686","19,800,820","17,384,044","359,198","2,057,577","951,866","46,669","859,082","46,113"
74,2019,"22,764,343","21,711,564","19,069,258","378,720","2,263,586","1,052,780","48,847","953,068","50,865"
75,2020,"25,654,071","24,628,326","21,816,877","383,031","2,428,418","1,025,745","48,366","919,192","58,187"
76,2021,"29,136,791","28,080,664","25,083,266","384,944","2,612,454","1,056,127","49,746","940,751","65,630"
77,2022,"34,020,076","32,817,226","29,544,090","391,377","2,881,759","1,202,850","49,853","1,074,442","78,555"
78,2023,"39,040,227","37,744,089","34,070,895","416,841","3,256,354","1,296,138","58,053","1,146,957","91,128"
79,2024,"43,704,825","42,280,251","38,227,261","439,408","3,613,581","1,424,574","55,283","1,264,760","104,531"
80,2025,"3,946,270","3,825,957","3,470,055","36,579","319,323","120,314","3,950","109,046","7,318"

In [7]:
df_21 = df[:21]
display(df_21)

,연도,총계,연금수급자 소계,연금수급자 노령,연금수급자 장애,연금수급자 유족,일시금수급자 소계,일시금수급자 장애,일시금수급자 반환,일시금수급자 사망
4,2005,"1,757,674","1,651,681","1,349,626","54,467","247,588","105,993","4,147","96,078","5,768"
5,2006,"1,985,502","1,858,769","1,517,649","61,762","279,358","126,733","4,898","115,394","6,441"
6,2007,"2,244,477","2,110,519","1,731,560","67,091","311,868","133,958","5,167","121,200","7,591"
7,2008,"2,517,579","2,366,626","1,949,867","72,166","344,593","150,953","4,902","137,654","8,397"
8,2009,"2,770,344","2,602,630","2,149,168","74,535","378,927","167,714","3,836","154,119","9,759"
9,2010,"2,975,336","2,820,649","2,330,128","76,280","414,241","154,687","3,447","141,347","9,893"
10,2011,"3,166,983","3,015,244","2,489,614","75,895","449,735","151,739","3,480","136,628","11,631"
11,2012,"3,499,522","3,310,211","2,748,455","75,934","485,822","189,311","2,862","175,716","10,733"
12,2013,"3,633,770","3,440,693","2,840,660","75,041","524,992","193,077","2,993","179,440","10,644"
13,2014,"3,748,130","3,586,805","2,947,422","75,387","563,996","161,325","2,651","146,353","12,321"
14,2015,"4,028,671","3,832,188","3,151,349","75,688","605,151","196,483","2,597","179,937","13,949"
15,2016,"4,362,254","4,135,292","3,412,350","75,497","647,445","226,962","2,577","207,751","16,634"
16,2017,"4,692,847","4,475,143","3,706,516","75,486","693,141","217,704","2,916","201,278","13,510"
17,2018,"4,769,288","4,596,690","3,778,824","75,734","742,132","172,598","3,072","157,867","11,659"
18,2019,"5,163,110","4,961,143","4,090,497","77,872","792,774","201,967","3,028","186,921","12,018"
19,2020,"5,588,154","5,388,022","4,468,126","78,079","841,817","200,132","2,904","184,342","12,886"
20,2021,"6,070,124","5,864,373","4,894,452","77,726","892,195","205,751","2,897","189,205","13,649"
21,2022,"6,642,643","6,424,917","5,396,729","76,718","951,470","217,726","2,722","199,170","15,834"
22,2023,"6,822,178","6,626,552","5,543,769","75,616","1,007,167","195,626","2,911","175,279","17,436"
23,2024,"7,372,039","7,155,257","6,015,091","76,865","1,063,301","216,782","2,660","196,290","17,832"
24,2025,"7,089,605","7,071,974","5,957,982","68,790","1,045,202","17,631",190,"16,228","1,213"

In [8]:
df_21.to_csv("data/first_21_rows.csv", index=False, encoding='utf-8-sig')

In [9]:
import pandas as pd

# 파일 경로 설정
file_sugup = 'data/first_21_rows.csv'
file_total = 'data/시군구별_연도별_고령인구비율_시각화 사용.csv'

# 파일 불러오기
df_sugup = pd.read_csv(file_sugup, encoding='utf-8')
df_total = pd.read_csv(file_total, encoding='utf-8')

#연도별 총계(국민연금 수급자수) 전처리
df_sugup['총계'] = df_sugup['총계'].str.replace(',', '').astype(int)

# 연도별 65세 이상 인구 총합 계산
df_total['연도'] = df_total['연도'].str.replace(' 년', '').astype(int)
df_total_grouped = df_total.groupby('연도')['65세이상'].sum().reset_index()
df_total_grouped.columns = ['연도', '65세이상총합']

#연도 기준으로 데이터 병합
df_merged = pd.merge(df_sugup[['연도', '총계']], df_total_grouped, on='연도')

# 국민연금 수급률 계산
df_merged['국민연금수급률(%)'] = df_merged['총계'] / df_merged['65세이상총합'] * 100

# 결과 출력
print(df_merged[['연도', '총계', '65세이상총합', '국민연금수급률(%)']])

      연도       총계   65세이상총합  국민연금수급률(%)
0   2014  3748130   6505601   57.613893
1   2015  4028671   6758892   59.605495
2   2016  4362254   6978090   62.513582
3   2017  4692847   7338256   63.950440
4   2018  4769288   7631625   62.493742
5   2019  5163110   8006755   64.484426
6   2020  5588154   8474165   65.943417
7   2021  6070124   8843072   68.642707
8   2022  6642643   9259557   71.738238
9   2023  6822178   9721874   70.173487
10  2024  7372039  10248205   71.934929

In [10]:
df_merged

      연도       총계   65세이상총합  국민연금수급률(%)
0   2014  3748130   6505601   57.613893
1   2015  4028671   6758892   59.605495
2   2016  4362254   6978090   62.513582
3   2017  4692847   7338256   63.950440
4   2018  4769288   7631625   62.493742
5   2019  5163110   8006755   64.484426
6   2020  5588154   8474165   65.943417
7   2021  6070124   8843072   68.642707
8   2022  6642643   9259557   71.738238
9   2023  6822178   9721874   70.173487
10  2024  7372039  10248205   71.934929

In [11]:
# 파일 저장 경로 (예: '/mnt/data/전처리된_연금데이터.csv')
output_file_path = 'data/고령층 국민연금 수급률_전처리.csv'

# 전처리된 데이터프레임(df_multi_header)을 CSV로 저장
df_merged.to_csv(output_file_path, index=False, encoding='utf-8-sig')

print(f"전처리된 데이터가 {output_file_path}에 저장되었습니다!")

전처리된 데이터가 data/고령층 국민연금 수급률_전처리.csv에 저장되었습니다!

In [13]:
df_56 = df[56:]
display(df_56)

,연도,총계,연금수급자 소계,연금수급자 노령,연금수급자 장애,연금수급자 유족,일시금수급자 소계,일시금수급자 장애,일시금수급자 반환,일시금수급자 사망
60,2005,"3,584,901","3,210,044","2,531,536","193,931","484,577","374,857","35,714","324,885","14,259"
61,2006,"4,360,239","3,899,369","3,103,161","225,607","570,601","460,870","44,240","400,674","15,957"
62,2007,"5,182,611","4,748,988","3,857,709","245,877","645,401","433,623","48,325","368,374","16,924"
63,2008,"6,180,804","5,764,986","4,765,528","268,101","731,358","415,818","47,921","348,026","19,871"
64,2009,"7,471,934","6,946,490","5,814,825","287,016","844,649","525,444","40,940","460,476","24,027"
65,2010,"8,635,467","8,107,420","6,861,876","296,305","949,239","528,047","37,299","465,123","25,625"
66,2011,"9,819,296","9,273,039","7,905,180","305,547","1,062,312","546,257","41,919","475,051","29,287"
67,2012,"11,550,755","10,837,243","9,327,086","314,463","1,195,694","713,511","34,654","648,045","30,812"
68,2013,"13,112,751","12,361,973","10,705,594","326,168","1,330,211","750,779","38,737","679,145","32,897"
69,2014,"13,779,943","13,087,468","11,295,917","331,603","1,459,947","692,475","34,471","618,468","39,535"
70,2015,"15,184,010","14,342,683","12,415,111","336,568","1,591,004","841,327","35,522","759,704","46,101"
71,2016,"17,068,159","16,107,103","14,047,957","337,332","1,721,814","961,056","36,048","874,649","50,359"
72,2017,"19,083,886","18,155,323","15,931,616","349,017","1,874,690","928,563","42,131","842,325","44,107"
73,2018,"20,752,686","19,800,820","17,384,044","359,198","2,057,577","951,866","46,669","859,082","46,113"
74,2019,"22,764,343","21,711,564","19,069,258","378,720","2,263,586","1,052,780","48,847","953,068","50,865"
75,2020,"25,654,071","24,628,326","21,816,877","383,031","2,428,418","1,025,745","48,366","919,192","58,187"
76,2021,"29,136,791","28,080,664","25,083,266","384,944","2,612,454","1,056,127","49,746","940,751","65,630"
77,2022,"34,020,076","32,817,226","29,544,090","391,377","2,881,759","1,202,850","49,853","1,074,442","78,555"
78,2023,"39,040,227","37,744,089","34,070,895","416,841","3,256,354","1,296,138","58,053","1,146,957","91,128"
79,2024,"43,704,825","42,280,251","38,227,261","439,408","3,613,581","1,424,574","55,283","1,264,760","104,531"
80,2025,"3,946,270","3,825,957","3,470,055","36,579","319,323","120,314","3,950","109,046","7,318"

In [47]:
df_filtered = df_56[['연도', '연금수급자 노령']]
print(df_filtered)

      연도    연금수급자 노령
60  2005   2,531,536
61  2006   3,103,161
62  2007   3,857,709
63  2008   4,765,528
64  2009   5,814,825
65  2010   6,861,876
66  2011   7,905,180
67  2012   9,327,086
68  2013  10,705,594
69  2014  11,295,917
70  2015  12,415,111
71  2016  14,047,957
72  2017  15,931,616
73  2018  17,384,044
74  2019  19,069,258
75  2020  21,816,877
76  2021  25,083,266
77  2022  29,544,090
78  2023  34,070,895
79  2024  38,227,261
80  2025   3,470,055

In [49]:
df_filtered.to_csv("data/df_filtered.csv", index=False, encoding='utf-8-sig')

In [51]:
display(df_21)

,연도,총계,연금수급자 소계,연금수급자 노령,연금수급자 장애,연금수급자 유족,일시금수급자 소계,일시금수급자 장애,일시금수급자 반환,일시금수급자 사망
4,2005,"1,757,674","1,651,681","1,349,626","54,467","247,588","105,993","4,147","96,078","5,768"
5,2006,"1,985,502","1,858,769","1,517,649","61,762","279,358","126,733","4,898","115,394","6,441"
6,2007,"2,244,477","2,110,519","1,731,560","67,091","311,868","133,958","5,167","121,200","7,591"
7,2008,"2,517,579","2,366,626","1,949,867","72,166","344,593","150,953","4,902","137,654","8,397"
8,2009,"2,770,344","2,602,630","2,149,168","74,535","378,927","167,714","3,836","154,119","9,759"
9,2010,"2,975,336","2,820,649","2,330,128","76,280","414,241","154,687","3,447","141,347","9,893"
10,2011,"3,166,983","3,015,244","2,489,614","75,895","449,735","151,739","3,480","136,628","11,631"
11,2012,"3,499,522","3,310,211","2,748,455","75,934","485,822","189,311","2,862","175,716","10,733"
12,2013,"3,633,770","3,440,693","2,840,660","75,041","524,992","193,077","2,993","179,440","10,644"
13,2014,"3,748,130","3,586,805","2,947,422","75,387","563,996","161,325","2,651","146,353","12,321"
14,2015,"4,028,671","3,832,188","3,151,349","75,688","605,151","196,483","2,597","179,937","13,949"
15,2016,"4,362,254","4,135,292","3,412,350","75,497","647,445","226,962","2,577","207,751","16,634"
16,2017,"4,692,847","4,475,143","3,706,516","75,486","693,141","217,704","2,916","201,278","13,510"
17,2018,"4,769,288","4,596,690","3,778,824","75,734","742,132","172,598","3,072","157,867","11,659"
18,2019,"5,163,110","4,961,143","4,090,497","77,872","792,774","201,967","3,028","186,921","12,018"
19,2020,"5,588,154","5,388,022","4,468,126","78,079","841,817","200,132","2,904","184,342","12,886"
20,2021,"6,070,124","5,864,373","4,894,452","77,726","892,195","205,751","2,897","189,205","13,649"
21,2022,"6,642,643","6,424,917","5,396,729","76,718","951,470","217,726","2,722","199,170","15,834"
22,2023,"6,822,178","6,626,552","5,543,769","75,616","1,007,167","195,626","2,911","175,279","17,436"
23,2024,"7,372,039","7,155,257","6,015,091","76,865","1,063,301","216,782","2,660","196,290","17,832"
24,2025,"7,089,605","7,071,974","5,957,982","68,790","1,045,202","17,631",190,"16,228","1,213"

In [53]:
df_filtered1 = df_21[['연도', '연금수급자 노령']]
print(df_filtered1)

      연도   연금수급자 노령
4   2005  1,349,626
5   2006  1,517,649
6   2007  1,731,560
7   2008  1,949,867
8   2009  2,149,168
9   2010  2,330,128
10  2011  2,489,614
11  2012  2,748,455
12  2013  2,840,660
13  2014  2,947,422
14  2015  3,151,349
15  2016  3,412,350
16  2017  3,706,516
17  2018  3,778,824
18  2019  4,090,497
19  2020  4,468,126
20  2021  4,894,452
21  2022  5,396,729
22  2023  5,543,769
23  2024  6,015,091
24  2025  5,957,982

In [55]:
df_filtered1.to_csv("data/df_filtered1.csv", index=False, encoding='utf-8-sig')

In [61]:
import pandas as pd

# 파일 경로
file_total_amount = 'data/df_filtered.csv'     # 고령층 총수급액
file_sugup_count = 'data/df_filtered1.csv'     # 고령층 수급자 수

# 데이터 불러오기
df_total_amount = pd.read_csv(file_total_amount, encoding='utf-8')
df_sugup_count = pd.read_csv(file_sugup_count, encoding='utf-8')

# ',' 제거 및 정수형 변환
df_total_amount['연금수급자 노령'] = df_total_amount['연금수급자 노령'].str.replace(',', '').astype(int)
df_sugup_count['연금수급자 노령'] = df_sugup_count['연금수급자 노령'].str.replace(',', '').astype(int)

# 컬럼명 정리
df_total_amount = df_total_amount.rename(columns={'연금수급자 노령': '고령층총수급액'})
df_sugup_count = df_sugup_count.rename(columns={'연금수급자 노령': '고령층수급자수'})

# 연도 컬럼 정수형으로 변환 (소수점 버림)
df_total_amount['연도'] = df_total_amount['연도'].astype(int)
df_sugup_count['연도'] = df_sugup_count['연도'].astype(int)

# 연도 기준 병합
df_merged = pd.merge(df_total_amount, df_sugup_count, on='연도')

# 평균 수령액 계산 (그대로 float 유지하거나 필요 시 정수로 변환)
df_merged['평균수령액'] = df_merged['고령층총수급액'] / df_merged['고령층수급자수']

# 결과 출력
print(df_merged[['연도', '고령층총수급액', '고령층수급자수', '평균수령액']])

      연도   고령층총수급액  고령층수급자수     평균수령액
0   2005   2531536  1349626  1.875731
1   2006   3103161  1517649  2.044716
2   2007   3857709  1731560  2.227881
3   2008   4765528  1949867  2.444027
4   2009   5814825  2149168  2.705617
5   2010   6861876  2330128  2.944849
6   2011   7905180  2489614  3.175263
7   2012   9327086  2748455  3.393574
8   2013  10705594  2840660  3.768700
9   2014  11295917  2947422  3.832474
10  2015  12415111  3151349  3.939618
11  2016  14047957  3412350  4.116798
12  2017  15931616  3706516  4.298273
13  2018  17384044  3778824  4.600385
14  2019  19069258  4090497  4.661844
15  2020  21816877  4468126  4.882780
16  2021  25083266  4894452  5.124836
17  2022  29544090  5396729  5.474444
18  2023  34070895  5543769  6.145800
19  2024  38227261  6015091  6.355226
20  2025   3470055  5957982  0.582421

In [63]:
output_file = 'data/고령층 국민연금 평균 수령액_전처리.csv'
df_merged.to_csv(output_file, index=False, encoding='utf-8-sig')
print(f"평균수령액 계산 결과가 {output_file}에 저장되었습니다!")

평균수령액 계산 결과가 data/고령층 국민연금 평균 수령액_전처리.csv에 저장되었습니다!