In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프를 그리기위한 기본 설정
# 폰트설정 - 윈도우
plt.rcParams['font.family'] = 'Malgun Gothic'
# 폰트설정 - 맥
# plt.rcParams['font.family'] = 'AppleGothic'
# 그래프의 크기
plt.rcParams['figure.figsize'] = 12, 6
# 글자크기
plt.rcParams['font.size'] = 14
# 적용한 폰트에 - 기호가 없다면 깨진다. - 기호는 설정한 폰트의
# 영향을 받지 않도록 설정한다.
plt.rcParams['axes.unicode_minus'] = False

In [2]:
df = pd.read_csv('data/101_DT_1B04006_20250528104651.csv', encoding='cp949')
print(df)

     행정구역(시군구)별      연령별       항목 단위  2025.04 월    2014 년    2015 년    2016 년  \
0            전국        계  총인구수[명]  명   51175725  51327916  51529338  51696216
1            전국       0세  총인구수[명]  명     240887    419833    424563    393674
2            전국       1세  총인구수[명]  명     231210    438778    437994    441720
3            전국       2세  총인구수[명]  명     248017    488030    439989    439207
4            전국       3세  총인구수[명]  명     263823    474932    488716    440530
...         ...      ...      ... ..        ...       ...       ...       ...
1831    제주특별자치도      96세  총인구수[명]  명        246       143       166       160
1832    제주특별자치도      97세  총인구수[명]  명        187       128       119       137
1833    제주특별자치도      98세  총인구수[명]  명        112        88       101        88
1834    제주특별자치도      99세  총인구수[명]  명         73        69        66        76
1835    제주특별자치도  100세 이상  총인구수[명]  명        219       201       213       231

        2017 년    2018 년    2019 년    2020 년    2021 년    2022 년    2023 년  \
0     51778544  51826059  51849861  51829023  51638809  51439038  51325329
1       345786    317685    295132    265087    253946    244250    225958
2       409814    361625    330970    304651    274633    264788    253595
3       442943    411225    362900    331606    306120    277529    266619
4       439700    443586    412018    363250    332157    307975    279134
...        ...       ...       ...       ...       ...       ...       ...
1831       246       300       392       143       171       158       215
1832       131       197       246       328       108       131       118
1833       100       109       159       192       258        73        93
1834        69        75        88       123       143       186        51
1835       242       247       270       296       195       231       295

        2024 년  Unnamed: 16
0     51217221          NaN
1       235337          NaN
2       234405          NaN
3       254654          NaN
4       267456          NaN
...        ...          ...
1831       223          NaN
1832       173          NaN
1833       103          NaN
1834        67          NaN
1835       232          NaN

[1836 rows x 17 columns]

In [3]:
# 결측치 확인
print("결측치 개수 (전처리 전):")
print(df.isna().sum())

결측치 개수 (전처리 전):
행정구역(시군구)별        0
연령별               0
항목                0
단위                0
2025.04 월         0
2014 년            0
2015 년            0
2016 년            0
2017 년            0
2018 년            0
2019 년            0
2020 년            0
2021 년            0
2022 년            0
2023 년            0
2024 년            0
Unnamed: 16    1836
dtype: int64

In [19]:
# '2025.04 월'과 'Unnamed: 16' 열 제거
df_cleaned = df.drop(columns=['2025.04 월','Unnamed: 16'])
df = df[df['행정구역(시군구)별'] != '전국']

print(df_cleaned)

     행정구역(시군구)별      연령별       항목 단위    2014 년    2015 년   2016 년   2017 년  \
102       서울특별시        계  총인구수[명]  명  10103233  10022181  9930616  9857426
103       서울특별시       0세  총인구수[명]  명     78101     77668    70798    61253
104       서울특별시       1세  총인구수[명]  명     78973     78187    76955    70532
105       서울특별시       2세  총인구수[명]  명     85889     76152    74874    74322
106       서울특별시       3세  총인구수[명]  명     80892     83046    73373    72482
...         ...      ...      ... ..       ...       ...      ...      ...
1831    제주특별자치도      96세  총인구수[명]  명       143       166      160      246
1832    제주특별자치도      97세  총인구수[명]  명       128       119      137      131
1833    제주특별자치도      98세  총인구수[명]  명        88       101       88      100
1834    제주특별자치도      99세  총인구수[명]  명        69        66       76       69
1835    제주특별자치도  100세 이상  총인구수[명]  명       201       213      231      242

       2018 년   2019 년   2020 년   2021 년   2022 년   2023 년   2024 년
102   9765623  9729107  9668465  9509458  9428372  9386034  9331828
103     54719    51145    45165    43410    40742    37771    39588
104     60805    54779    50482    44904    43950    41087    37696
105     67262    59128    53099    48900    44177    43013    40295
106     71433    65734    57331    51445    48120    43637    42163
...       ...      ...      ...      ...      ...      ...      ...
1831      300      392      143      171      158      215      223
1832      197      246      328      108      131      118      173
1833      109      159      192      258       73       93      103
1834       75       88      123      143      186       51       67
1835      247      270      296      195      231      295      232

[1734 rows x 15 columns]

In [21]:
# 필요시, 새로운 파일로 저장
df_cleaned.to_csv('data/df_cleaned.csv', index=False, encoding='utf-8-sig')

In [23]:
df1 = pd.read_csv('data/df_cleaned.csv')
df1

,행정구역(시군구)별,연령별,항목,단위,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,2020 년,2021 년,2022 년,2023 년,2024 년
0,서울특별시,계,총인구수[명],명,10103233,10022181,9930616,9857426,9765623,9729107,9668465,9509458,9428372,9386034,9331828
1,서울특별시,0세,총인구수[명],명,78101,77668,70798,61253,54719,51145,45165,43410,40742,37771,39588
2,서울특별시,1세,총인구수[명],명,78973,78187,76955,70532,60805,54779,50482,44904,43950,41087,37696
3,서울특별시,2세,총인구수[명],명,85889,76152,74874,74322,67262,59128,53099,48900,44177,43013,40295
4,서울특별시,3세,총인구수[명],명,80892,83046,73373,72482,71433,65734,57331,51445,48120,43637,42163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1729,제주특별자치도,96세,총인구수[명],명,143,166,160,246,300,392,143,171,158,215,223
1730,제주특별자치도,97세,총인구수[명],명,128,119,137,131,197,246,328,108,131,118,173
1731,제주특별자치도,98세,총인구수[명],명,88,101,88,100,109,159,192,258,73,93,103
1732,제주특별자치도,99세,총인구수[명],명,69,66,76,69,75,88,123,143,186,51,67
1733,제주특별자치도,100세 이상,총인구수[명],명,201,213,231,242,247,270,296,195,231,295,232

In [49]:
# 데이터 확인
print(df1.head())

# 열 이름 확인 (컬럼명을 알아야 계산 가능)
print(df1.columns)

  행정구역(시군구)별 연령별       항목 단위    2014 년    2015 년   2016 년   2017 년   2018 년  \
0      서울특별시   계  총인구수[명]  명  10103233  10022181  9930616  9857426  9765623
1      서울특별시  0세  총인구수[명]  명     78101     77668    70798    61253    54719
2      서울특별시  1세  총인구수[명]  명     78973     78187    76955    70532    60805
3      서울특별시  2세  총인구수[명]  명     85889     76152    74874    74322    67262
4      서울특별시  3세  총인구수[명]  명     80892     83046    73373    72482    71433

    2019 년   2020 년   2021 년   2022 년   2023 년   2024 년
0  9729107  9668465  9509458  9428372  9386034  9331828
1    51145    45165    43410    40742    37771    39588
2    54779    50482    44904    43950    41087    37696
3    59128    53099    48900    44177    43013    40295
4    65734    57331    51445    48120    43637    42163
Index(['행정구역(시군구)별', '연령별', '항목', '단위', '2014 년', '2015 년', '2016 년', '2017 년',
       '2018 년', '2019 년', '2020 년', '2021 년', '2022 년', '2023 년', '2024 년'],
      dtype='object')

In [45]:
# 시군구별로 전체 인구수와 65세 이상 인구수 합계 계산
# 예를 들어 '행정구역(시군구)별' 컬럼과 '연령별', '2024 년'이 있다고 가정
# 먼저 65세 이상만 필터링
elderly_df = df1[df1['연령별'].isin([f'{i}세' for i in range(65, 101)])]

# 시군구별 65세 이상 인구 합계
elderly_sum = elderly_df.groupby('행정구역(시군구)별')['2024 년'].sum().reset_index(name='65세이상')

# 시군구별 전체 인구 합계
total_sum = df1.groupby('행정구역(시군구)별')['2024 년'].sum().reset_index(name='전체인구')

# 두 데이터프레임 병합
merged_df = pd.merge(total_sum, elderly_sum, on='행정구역(시군구)별', how='left')

# NaN은 0으로 처리 (65세 이상 인구가 없는 경우)
merged_df['65세이상'] = merged_df['65세이상'].fillna(0)

# 고령 인구 비율 계산
merged_df['고령인구비율(%)'] = (merged_df['65세이상'] / merged_df['전체인구']) * 100

# 결과 확인
print(merged_df)

# 결과 저장 (optional)
merged_df.to_csv('data/시군구별_고령인구비율.csv', index=False)
# print("시군구별 고령인구 비율 계산 완료!")

   행정구역(시군구)별      전체인구    65세이상  고령인구비율(%)
0     강원특별자치도   3035532   384549  12.668257
1         경기도  27389370  2267656   8.279329
2        경상남도   6456760   703879  10.901427
3        경상북도   5062768   658676  13.010195
4       광주광역시   2816844   246799   8.761543
5       대구광역시   4727258   492996  10.428794
6       대전광역시   2878314   259030   8.999366
7       부산광역시   6533196   780147  11.941277
8       서울특별시  18663656  1812164   9.709587
9     세종특별자치시    781370    45262   5.792646
10      울산광역시   2196098   188616   8.588688
11      인천광역시   6042020   532863   8.819286
12       전라남도   3577638   485951  13.583012
13    전북특별자치도   3477380   438801  12.618724
14    제주특별자치도   1340736   126753   9.453986
15       충청남도   4273148   475160  11.119671
16       충청북도   3182354   348903  10.963677

In [41]:
# 사용할 연도 컬럼 추출 (예: '2023 년', '2024 년', '2025.04 월' 등)
year_columns = [col for col in df.columns if any(year in col for year in ['2014 년','2015 년','2016 년','2017 년','2018 년','2019 년','2020 년','2021 년','2022 년','2023 년', '2024 년'])]

# 결과 저장용 리스트
results = []

for year_col in year_columns:
    # 65세 이상 필터링
    elderly_df = df[df['연령별'].isin([f'{i}세' for i in range(65, 101)])]

    # 시군구별 65세 이상 인구 합계
    elderly_sum = elderly_df.groupby('행정구역(시군구)별')[year_col].sum().reset_index(name='65세이상')

    # 시군구별 전체 인구 합계
    total_sum = df.groupby('행정구역(시군구)별')[year_col].sum().reset_index(name='전체인구')

    # 병합
    merged_df = pd.merge(total_sum, elderly_sum, on='행정구역(시군구)별', how='left')
    merged_df['65세이상'] = merged_df['65세이상'].fillna(0)

    # 고령 인구 비율 계산
    merged_df['고령인구비율(%)'] = (merged_df['65세이상'] / merged_df['전체인구']) * 100
    merged_df['연도'] = year_col

    results.append(merged_df)

# 연도별 데이터 합치기
final_df = pd.concat(results, ignore_index=True)

# 결과 확인
print(final_df.head())

# 필요 시 CSV로 저장
# final_df.to_csv('data/시군구별_연도별_고령인구비율.csv', index=False)
# print("시군구별 연도별 고령 인구 비율 계산 완료!")

  행정구역(시군구)별      전체인구    65세이상  고령인구비율(%)      연도
0    강원특별자치도   3088884   255376   8.267581  2014 년
1        경기도  24715660  1251686   5.064344  2014 년
2       경상남도   6700514   448461   6.692934  2014 년
3       경상북도   5401588   466660   8.639311  2014 년
4      광주광역시   2951768   159522   5.404287  2014 년
시군구별 연도별 고령 인구 비율 계산 완료!