In [25]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

In [31]:
elderly_employed = pd.read_csv('data/연령별_경제활동인구.csv', encoding='EUC-KR')
elderly_employed

         연령계층별    시점            항목      데이터
0    15세 이상 전체  2014       인구 (천명)  42795.0
1    15세 이상 전체  2014   경제활동인구 (천명)  26836.0
2    15세 이상 전체  2014      취업자 (천명)  25897.0
3    15세 이상 전체  2014      실업자 (천명)    939.0
4    15세 이상 전체  2014  비경제활동인구 (천명)  15959.0
..         ...   ...           ...      ...
875   15 - 24세  2024      실업자 (천명)     86.0
876   15 - 24세  2024  비경제활동인구 (천명)   3365.0
877   15 - 24세  2024   경제활동참가율 (%)     28.6
878   15 - 24세  2024       실업률 (%)      6.4
879   15 - 24세  2024       고용률 (%)     26.8

[880 rows x 4 columns]

In [37]:
elderly_employed.isna().sum()
elderly_employed['항목'].unique()

array(['인구 (천명)', '경제활동인구 (천명)', '취업자 (천명)', '실업자 (천명)', '비경제활동인구 (천명)',
       '경제활동참가율 (%)', '실업률 (%)', '고용률 (%)'], dtype=object)

In [41]:
elderly_list = ['취업자 (천명)', '고용률 (%)', '인구 (천명)']
elderly_employed.query('연령계층별 == "60세이상" and 항목 in @elderly_list')

     연령계층별    시점        항목      데이터
616  60세이상  2014   인구 (천명)   8831.0
618  60세이상  2014  취업자 (천명)   3448.0
623  60세이상  2014   고용률 (%)     39.0
624  60세이상  2015   인구 (천명)   9288.0
626  60세이상  2015  취업자 (천명)   3625.0
631  60세이상  2015   고용률 (%)     39.0
632  60세이상  2016   인구 (천명)   9750.0
634  60세이상  2016  취업자 (천명)   3848.0
639  60세이상  2016   고용률 (%)     39.5
640  60세이상  2017   인구 (천명)  10245.0
642  60세이상  2017  취업자 (천명)   4090.0
647  60세이상  2017   고용률 (%)     39.9
648  60세이상  2018   인구 (천명)  10776.0
650  60세이상  2018  취업자 (천명)   4324.0
655  60세이상  2018   고용률 (%)     40.1
656  60세이상  2019   인구 (천명)  11329.0
658  60세이상  2019  취업자 (천명)   4701.0
663  60세이상  2019   고용률 (%)     41.5
664  60세이상  2020   인구 (천명)  11960.0
666  60세이상  2020  취업자 (천명)   5076.0
671  60세이상  2020   고용률 (%)     42.4
672  60세이상  2021   인구 (천명)  12613.0
674  60세이상  2021  취업자 (천명)   5406.0
679  60세이상  2021   고용률 (%)     42.9
680  60세이상  2022   인구 (천명)  13167.0
682  60세이상  2022  취업자 (천명)   5858.0
687  60세이상  2022   고용률 (%)     44.5
688  60세이상  2023   인구 (천명)  13674.0
690  60세이상  2023  취업자 (천명)   6223.0
695  60세이상  2023   고용률 (%)     45.5
696  60세이상  2024   인구 (천명)  14147.0
698  60세이상  2024  취업자 (천명)   6489.0
703  60세이상  2024   고용률 (%)     45.9

In [45]:
# 항목 필터링
needed_items = ['인구 (천명)', '취업자 (천명)', '고용률 (%)']

# 필터링된 데이터프레임 생성
df_filtered = elderly_employed.query("연령계층별.str.contains('60세이상') and 항목 in @needed_items")

# 피벗 테이블 생성
df_pivot = df_filtered.pivot_table(
    index=['연령계층별', '시점'],     # 기준 컬럼
    columns='항목',                 # 펼칠 컬럼
    values='데이터'                 # 값
).reset_index()

# 컬럼 정렬 (선택사항)
df_pivot = df_pivot[['연령계층별', '시점'] + needed_items]
df_pivot

항목  연령계층별    시점  인구 (천명)  취업자 (천명)  고용률 (%)
0   60세이상  2014   8831.0    3448.0     39.0
1   60세이상  2015   9288.0    3625.0     39.0
2   60세이상  2016   9750.0    3848.0     39.5
3   60세이상  2017  10245.0    4090.0     39.9
4   60세이상  2018  10776.0    4324.0     40.1
5   60세이상  2019  11329.0    4701.0     41.5
6   60세이상  2020  11960.0    5076.0     42.4
7   60세이상  2021  12613.0    5406.0     42.9
8   60세이상  2022  13167.0    5858.0     44.5
9   60세이상  2023  13674.0    6223.0     45.5
10  60세이상  2024  14147.0    6489.0     45.9

In [47]:
df_pivot.to_csv('최근10년_노령인구_고용률.csv', encoding='utf-8-sig', index=False)